.primary{
    color: #00539f;
}
.hover-bg-primary, .bg-primary{
    background: #00539f;
}
.bg-primary-dark{
    background: #00386a;
}
.hover-bg-primary:hover{
    background: #004482 !important;
}
.bg-blue-dark{
    background: #2a3f54;
}
.bg-grey{
    background-color: #ddd;
}
.shadow-in {
  box-shadow:0px 0px 4px 2px rgba( 0, 0, 0, 0.2 ) inset;
}

/* .ant-layout-sider-children,.ant-layout-content>ul.ant-menu{
    background: #fff;
}
.ant-layout-content ul.ant-menu li.ant-menu-item i.anticon,
.ant-layout-content ul.ant-menu li.ant-menu-item span{
    color: #555;
}
.ant-layout-content ul.ant-menu li.ant-menu-item.ant-menu-item-selected i.anticon,
.ant-layout-content ul.ant-menu li.ant-menu-item.ant-menu-item-selected span{
    color: #333;
}
.ReactTable .rt-thead.-header{
    height: 30px;
}
.ReactTable .rt-tbody .rt-tr-group{
    border-bottom: 1px solid rgba(0,0,0,0.08);
} */
