@font-face {
  font-family: 'Trajan';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/Trajan.woff') format('woff');
}
body {
  font-family: arial;
  font-size: 12px;
}
/*a:not(.default) {
  font-family: sans-serif, arial;
  font-size: 12px;
}*/
a.default {
  color: #777;
}
html, body, :global(#__next) {
  height: 100%;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.img-container {
  overflow: hidden;
  text-align: center;
  border: solid 1px #eee;
  padding: 5px;
  background: #fff;
  border-radius: 3px;
}
.img-container img {
  max-width: 100%;
  max-height: 100%;
}

/* Echart */
.echarts-for-react > div {
  width: auto !important;
}

/* Antd */
.slick-dots li button {
  background: #aaa !important;
}
.slick-dots li.slick-active button {
  background: #09f !important;
}
.ant-layout-sider-collapsed, .ant-layout-sider-collapsed > *{
  width: 0 !important;
  min-width: 0 !important;
  max-width: 0 !important;
}
.ant-layout-sider-collapsed .ant-layout-content {
  display: none;
}
.ql-container {
  height: auto !important;
}
.ql-editor {
  min-height: 200px !important;
  max-height: 300px;
  overflow: hidden;
}
.ant-form-item {
  margin-bottom: 0 !important;
}
.ant-menu-horizontal>.ant-menu-item, .ant-menu-horizontal>.ant-menu-submenu {
  overflow: hidden;
  padding: 0;
}
/* DEBUG */
.ReactTable .rt-thead.-filters {
  display: none
}
